.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:45px;
    margin-top: 120px;
    margin-left: 44px;
    margin-right: 57px;
}
.order-container{
    background-color: rgba(255, 153, 0, 0.3);
}
